@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h3>Details of Book: @Html.DisplayFor(model => model.Name)</h3></div>
  @if(@Model.Authors.Count == 0)
  {
    <div class="tileheader"><h3>This Book does not belong to any Authors</h3></div>
  }
  else
  {
    <div class="tileheader"><h3>Authors this Book belongs to:</h3></div>
    <div class="tile">
      @foreach(var join in Model.Authors)
      {
        <div>@join.Author.Name
          @using (Html.BeginForm("DeleteAuthor", "Books"))
          {
            @Html.Hidden("joinId", @join.BookAuthorId)
            <input type="submit" value="Delete"/>
          }
        </div>
      }
    </div>
  }
  <div class="tileheader"><ul>
    @foreach(Checkout checkout in Model.CheckoutHistory)
    {
      <li>USER: @checkout.User?.UserName // IN: @checkout.DateIn // DUE: @checkout.DateDue // ACTIVE: @checkout.Active</li>
    }
  </ul></div>
  <div class="tile">
    <div>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</div>
    <div>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</div>
    <div>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })</div>
  </div>
} else {
  <div class="tileheader"><h3>Details of Book: @Html.DisplayFor(model => model.Name)</h3></div>
  @if(@Model.Authors.Count == 0)
  {
    <div class="tileheader"><h3>This Book does not belong to any Authors</h3></div>
  }
  else
  {
    <div class="tileheader"><h3>Authors this Book belongs to:</h3></div>
    <div class="tile">
      @foreach(var join in Model.Authors)
      {
        <div>@join.Author.Name</div>
      }
    </div>
  }
  <div class="tileheader"><ul>
    @foreach(Checkout checkout in Model.CheckoutHistory)
    {
      <li>IN: @checkout.DateIn // DUE: @checkout.DateDue // ACTIVE: @checkout.Active</li>
    }
  </ul></div>
}
