@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>;

@if (ViewBag.IsLibrarian == true)
{
  @if (Model.Any())
  {
    <div class="tileheader"><h3>Books IN</h3></div>
    <div class="tile">
      @foreach (Book book in Model)
      {
        @if (book.Out == 0) {
          <div><h4>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })</h4></div>
        }
      }
    </div>
    <div class="tileheader"><h3>Books OUT</h3></div>
    <div class="tile">
      @foreach (Book book in Model)
      {
        @if (book.Out != 0) {
          <div><h4>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })</h4></div>
        }
      }
    </div>
  }
} else {
  @if (Model.Any())
  {
    <div class="tileheader"><h3>Books IN</h3></div>
    <div class="tile">
      @foreach (Book book in Model)
      {
        @if (book.Out == 0) {
          <div><h4>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })</h4>
          @using (Html.BeginForm("CreateCheckout", "Books"))
          {
            @Html.Hidden("bookId", @book.BookId)
            <input type="submit" value="Check"/>
          }
          </div>
        }
      }
    </div>
    <div class="tileheader"><h3>Books IN</h3></div>
    <div class="tile">
    @foreach (Book book in Model)
      {
        @if (book.Out != 0)
        {
          <div><h4>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })</h4>
          @using (Html.BeginForm("ReturnCheckout", "Books"))
          {
            @Html.Hidden("bookId", @book.BookId)
            <input type="submit" value="Return"/>
          }
          </div>
        }
      }
    </div>
  }
}
