@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>;

@if (ViewBag.IsLibrarian == true)
{
  <h1>Books for @User.Identity.Name / IsLibrarian: @ViewBag.IsLibrarian</h1>

  @if (Model.Any())
  {
    <h3>Books IN</h3>

    @foreach (Book book in Model)
    {
      @if (book.Out == 0) {
        <li>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })
        </li>
      }
    }
    <h3>Books OUT</h3>

    @foreach (Book book in Model)
    {
      @if (book.Out != 0) {
        <li>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })
        </li>
      }
    }
  }
} else {
  <h1>Books for @User.Identity.Name / IsLibrarian: @ViewBag.IsLibrarian</h1>

  @if (Model.Any())
  {

    <h3>Books IN</h3>

    @foreach (Book book in Model)
    {
      @if (book.Out == 0) {
        <li>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })
        @using (Html.BeginForm("CreateCheckout", "Books"))
        {
          @Html.Hidden("bookId", @book.BookId)
          <input type="submit" value="Check"/>
        }
        </li>
      }
    }
    <h3>Books OUT</h3>

    @foreach (Book book in Model)
    {
      @*@if ((book.Out != 0) && (book.CheckoutHistory.Where(i => i.Active == true).FirstOrDefault().User?.UserName == User.Identity.Name))*@
      @if (book.Out != 0)
      {
        <li>@Html.ActionLink($"{book.Name}", "Details", new { id = book.BookId })
        @using (Html.BeginForm("ReturnCheckout", "Books"))
        {
          @Html.Hidden("bookId", @book.BookId)
          <input type="submit" value="Return"/>
        }
        </li>
      }
    }
  }
}
