@{
  Layout = "_Layout";
}

@model Library.Models.Author

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h3>Details of Author: @Html.DisplayFor(model => model.Name)</h3></div>
  @if(@Model.Books.Count == 0)
  {
    <div class="tileheader"><h3>This Author does not have any Books</h3></div>
  }
  else
  {
    <div class="tileheader"><h3>Books the Author has:</h3></div>
    <div class="tile">
      @foreach(var join in Model.Books)
      {
        <div>@join.Book.Name
          @using (Html.BeginForm("DeleteBook", "Authors"))
          {
            @Html.Hidden("joinId", @join.BookAuthorId)
            <input type="submit" value="Delete"/>
          }
        </div>
      }
    </div>
  }
  <div class="tile">
    <div>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</div>
    <div>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</div>
    <div>@Html.ActionLink("Add a Book", "AddBook", new { id = Model.AuthorId })</div>
  </div>

} else {
  <div class="tileheader"><h3>Details of Author: @Html.DisplayFor(model => model.Name)</h3></div>
  @if(@Model.Books.Count == 0)
  {
    <div class="tileheader"><h3>This Author does not have any Books</h3></div>
  }
  else
  {
    <div class="tileheader"><h3>Books the Author has:</h3></div>
    <div class="tile">
      @foreach(var join in Model.Books)
      {
        <div>@join.Book.Name</div>
      }
    </div>
  }
}
