@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Checkout>;

@if (ViewBag.IsLibrarian == true)
{
  <h1>Checkouts for @User.Identity.Name / IsLibrarian: @ViewBag.IsLibrarian</h1>

  @if (Model.Any())
  {
    <h3>Active Checkouts</h3>

    @foreach (Checkout checkout in Model)
    {
      @if (checkout.Active == true) {
        <li>@checkout.Book.Name // @checkout.User?.UserName // @checkout.DateIn // @checkout.DateDue // Active: @checkout.Active // Overdue: @checkout.OverDue() </li>
      }
    }

    <h3>Checkout History</h3>

    @foreach (Checkout checkout in Model)
    {
      @if (checkout.Active == false) {
        <li>@checkout.Book.Name // @checkout.User?.UserName // @checkout.DateIn // @checkout.DateDue // Active: @checkout.Active // Overdue: @checkout.OverDue() </li>
      }
    }
  }
} else {
  <h1>Checkouts for @User.Identity.Name / IsLibrarian: @ViewBag.IsLibrarian</h1>

  @if (Model.Any())
  {
    <h3>Active Checkouts</h3>

    @foreach (Checkout checkout in Model)
    {
      @if ((checkout.Active == true) && (checkout.User?.UserName == User.Identity.Name)) {
        <li>@checkout.Book.Name // @checkout.User?.UserName // @checkout.DateIn // @checkout.DateDue // Active: @checkout.Active // Overdue: @checkout.OverDue() </li>
      }
    }

    <h3>Checkout History</h3>

    @foreach (Checkout checkout in Model)
    {
      @if ((checkout.Active == false) && (checkout.User?.UserName == User.Identity.Name)) {
        <li>@checkout.Book.Name // @checkout.User?.UserName // @checkout.DateIn // @checkout.DateDue // Active: @checkout.Active // Overdue: @checkout.OverDue() </li>
      }
    }
  }
}
