@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Checkout>;

@if (ViewBag.IsLibrarian == true)
{
  @if (Model.Any())
  {
    <div class="tileheader"><h3>Active Checkouts</h3></div>
    <div class="tileheader"><ul>
      @foreach (Checkout checkout in Model)
      {
        @if (checkout.Active == true) {
          <li>@checkout.Book.Name // USER: @checkout.User?.UserName // IN: @checkout.DateIn // DUE: @checkout.DateDue // Overdue: @checkout.OverDue() </li>
        }
      }
    </ul></div>
    <div class="tileheader"><h3>Checkout History</h3></div>
    <div class="tileheader"><ul>
      @foreach (Checkout checkout in Model)
      {
        @if (checkout.Active == false) {
          <li>@checkout.Book.Name // USER: @checkout.User?.UserName // IN: @checkout.DateIn // DUE: @checkout.DateDue</li>
        }
      }
    </ul></div>
  }
} else {
  @if (Model.Any())
  {
    <div class="tileheader"><h3>Active Checkouts</h3></div>
    <div class="tileheader"><ul>
      @foreach (Checkout checkout in Model)
      {
        @if ((checkout.Active == true) && (checkout.User?.UserName == User.Identity.Name)) {
          <li>@checkout.Book.Name // IN: @checkout.DateIn // DUE: @checkout.DateDue // Overdue: @checkout.OverDue() </li>
        }
      }
    </ul></div>
    <div class="tileheader"><h3>Checkout History</h3></div>
    <div class="tileheader"><ul>
      @foreach (Checkout checkout in Model)
      {
        @if ((checkout.Active == false) && (checkout.User?.UserName == User.Identity.Name)) {
          <li>@checkout.Book.Name // IN: @checkout.DateIn // DUE: @checkout.DateDue</li>
        }
      }
    </ul></div>
  }
}
